<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>{% block title %}{% endblock %}: Amicus</title>
    {% endblock %}
</head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
        <div role="contentinfo" class="footer">
        <p class="footer__attrbution" style="font-size:30px">Made with ❤️ by Amicus ⚖️ for VandyHacks 🐿️</p>
        <p class="footer__disclaimer">Style inspired by <a href="https://twitter.com/m8urnett">Mark Burnett</a></p>
       </div>
      {% endblock %}
    </div>
  </body>
</html>